.block
	%h3 Twoje kategorie
	%ul.navigation
		- self.current_user.categories.all.each do |category|
			%li
				.category_color{ :style => "background-color: #{category.color}" }
				= link_to category.name, root_path(:category_id => category.id)
				.clear

