.scroll-list {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  padding: 5px;
  list-style: none inside;
}

.category_color {
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  background: #fff;
  float: left;
}

.navigation .category_color {
  margin-left: 13px;
  margin-top: 8px;
}

.table .category_color {
  margin-right: 5px;
  margin-top: -2px;
}

.comment_ajax_loader {
  background: #fff url('/images/reksio_anim.gif') no-repeat center center;
  height: 152px;
  width: 654px;
  display: none;
  position: absolute;
  z-index: 10;
}

#comment_body {
  height: 100px;
}

#users_left {
  height: 346px;
}

.scroll-list li a {
  display: block;
  text-decoration: none;
  padding: 3px 5px;
  font-weight: bold;
}

.scroll-list li a:hover {
  background-color: #E5E5E5;
}

.columns {
  width: 100%;
}

.columns .column {
  width: 50%;
}

.columns .column.left {
  float: left;
}

.columns .column.right {
  float: right;
}

.clear {
  clear: both;
}